<div class="app-container">
  <app-formulario-establecimiento></app-formulario-establecimiento>
  <BR>
  <div class="mapa-contenedor">
    <google-map #mapRef width="100%" height="450px" [center]="mapCenter" [zoom]="mapZoom"
      (mapClick)="addMarker($event)">
      <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition" [options]="markerOptions"
        (mapDrag)="actCoords($event)"></map-marker>
    </google-map>
  </div>
  <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
  <div class="coordenadas-boton-container">
    <div class="centrado">
      <h3 class="coordenadas-titulo">Coordenadas:<br>Latitud: {{Latitud}} Longitud: {{Longitud}}</h3>
      <button class="boton-marcador" (click)="establecerMarcador()">Establecer marcador</button>
    </div>
  </div>
</div>
